@use "../../theme/variables" as *;

#home {
    height: 100vh;

    .home-section-container {
        height: inherit;
        display: flex;
        align-items: center;

        .home-section-title-container {

            .home-logo {
                display: flex;
                font-size: 16vw;
                font-family: Jura, "sans-serif";
                font-weight: bold;
                user-select: none;
                align-items: center;
                line-height: 1;
                padding-bottom: 4vw;

                .home-logo-right {
                    position: relative;
                    left: -4.69vw;
                    color: $highlight;
                    font-size: 16.1vw;
                }
            }

            .home-section-title {
                font-size: $font_size_mediumbig;
                padding-left: 1.5vw;
            }

            .home-section-subtitle {
                font-size: $font_size_medium;
                padding-left: 1.5vw;
                padding-bottom: 2vw;
            }
        }

        .home-section-picture-container {

            .home-section-picture {
                width: min(25vw, 45vh);
                border-radius: 2rem;
                user-select: none;
            }
        }
    }

    @media (max-width: 1024px) {
        .home-section-container {
            flex-direction: column;
            padding-top: 8rem;

            .home-section-title-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                .home-logo {
                    display: none;
                }

                .home-section-title {
                    font-size: 2.5rem;
                    padding-left: 0;
                    text-align: center;
                }

                .home-section-subtitle {
                    padding-top: 1.5rem;
                    font-size: 2rem;
                    padding-left: 0;
                    padding-bottom: 0;
                    text-align: center;
                }
            }

            .home-section-picture-container {

                .home-section-picture {
                    width: 15rem;
                    border-radius: 5rem;
                }
            }
        }
    }
}