@use "../../theme/variables" as *;

#projects {
    height: fit-content;

    .projects-section-container {
        width: inherit;
        height: inherit;
        padding-top: 17vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .projects-section-title {
            font-size: $font_size_mediumbig;
            margin-bottom: 10vh;
        }

        .projects-showcase-container {
            border-radius: 1vw;
            border: 0.2vw solid #1b2047;

            .projects-showcase-overlay {
                position: relative;
                width: 50vw;
                height: 57vh;
                border-radius: 1vw;
                border: 0.2vw solid #0f182b;
                background: linear-gradient(to right, #151f53, #1b2047);

            }

            .project-title {
                position: absolute;
                left: 2vw;
                top: 3vh;
                font-size: 1.5vw;
            }

            .project-links {
                position: absolute;
                left: 2vw;
                bottom: 3vh;
            }

            .projects-showcase-left-arrow {
                position: absolute;
                font-size: 6vw;
                top: 19vh;
                cursor: pointer;
                user-select: none;
            }

            .projects-showcase-right-arrow {
                position: absolute;
                font-size: 6vw;
                top: 19vh;
                right: 0;
                cursor: pointer;
                user-select: none;
            }

            .projects-stack-container {
                display: flex;
                justify-content: flex-end;
                padding: 1vw 1vw 0 0;
                gap: 0.5vw;
            }

            .project-image-container {
                display: flex;
                justify-self: center;
                margin-top: 1vw;
                border-radius: 1vw;
                border: 0.2vw solid #1b2047;

                .project-image {
                    width: 30vw;
                    border-radius: 1vw;
                    border: 0.2vw solid #0f182b;
                    user-select: none;
                }
            }
        }
    }
}

@media(max-width: 1024px) {
    #projects {
        .projects-section-container {
            .projects-section-title {
                font-size: 3rem;
                margin-bottom: 3rem;
            }

            .projects-showcase-container {
                border-radius: 0.8rem;
                width: fit-content;
                border: 0.2rem solid #1b2047;

                .projects-showcase-overlay {
                    width: 100%;
                    height: 100%;
                    border-radius: 0.8rem;
                    border: 0.2rem solid #0f182b;

                }

                .project-title {
                    position: absolute;
                    left: 3%;
                    top: 5%;
                    font-size: 1rem;
                }

                .project-links {
                    position: absolute;
                    left: 3%;
                    bottom: 4%;
                }

                .projects-showcase-left-arrow {
                    position: absolute;
                    font-size: 3rem;
                    left: 1%;
                    top: 40%;
                    cursor: pointer;
                    user-select: none;
                }

                .projects-showcase-right-arrow {
                    position: absolute;
                    font-size: 3rem;
                    top: 40%;
                    right: 1%;
                    cursor: pointer;
                    user-select: none;
                }

                .projects-stack-container {
                    padding: 0.5rem 0.5rem 0 0;
                    gap: 0.3rem;
                }

                .project-image-container {
                    justify-content: center;
                    margin: 1rem 0 4rem 0;
                    border-radius: 0.8rem;
                    border: 0;

                    .project-image {
                        width: 80%;
                        border-radius: 0.8rem;
                        border: 0.2rem solid #0f182b;
                    }
                }
            }
        }
    }
}