@use "../../theme/variables" as *;

#projects {
    height: 100vh;

    .projects-section-container {
        width: inherit;
        height: inherit;
        padding-top: 7vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .projects-section-title {
            font-size: $font_size_mediumbig;
            margin-bottom: 10vh;
        }

        .projects-showcase-container {
            border-radius: 1vw;
            border: 0.2vw solid #1b2047;

            .projects-showcase-overlay {
                position: relative;
                width: 50vw;
                height: 57vh;
                border-radius: 1vw;
                border: 0.2vw solid #0f182b;
                background: linear-gradient(to right, #151f53, #1b2047);

            }

            .project-title {
                position: absolute;
                left: 2vw;
                top: 3vh;
                font-size: 1.5vw;
            }

            .project-links {
                position: absolute;
                left: 2vw;
                bottom: 3vh;
            }

            .projects-showcase-left-arrow {
                position: absolute;
                font-size: 6vw;
                top: 19vh;
                cursor: pointer;
                user-select: none;
            }

            .projects-showcase-right-arrow {
                position: absolute;
                font-size: 6vw;
                top: 19vh;
                left: 46.5vw;
                cursor: pointer;
                user-select: none;
            }

            .projects-stack-container {
                display: flex;
                justify-content: flex-end;
                padding: 1vw 1vw 0 0;
                gap: 0.5vw;
            }

            .project-image-container {
                display: flex;
                justify-self: center;
                margin-top: 1vw;
                border-radius: 1vw;
                border: 0.2vw solid #1b2047;

                .project-image {
                    width: 30vw;
                    border-radius: 1vw;
                    border: 0.2vw solid #0f182b;
                    user-select: none;
                }
            }
        }
    }
}