@use "../../theme/variables" as *;

#projects {
    height: 100vh;

    .projects-section-container {
        width: inherit;
        height: inherit;
        padding-top: 7vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .projects-section-title {
            font-size: $font_size_mediumbig;
        }
    }
}
