@use "../../theme/variables" as *;


.badge-container {
    border: 2px solid #1b2047;
    border-radius: 0.3vw;
    width: fit-content;

    .badge-overlay {
        border: 2px solid #0f182b;
        border-radius: 0.3vw;
        display: flex;
        align-items: center;
        background: linear-gradient(to right, #151f53, #1b2047);
        font-size: $font_size_small;
        padding: 0 1vw 0 1vw;

        .badge-text {
            border-radius: 0.3vw;
            color: #4a9cc6;
            font-family: Jura, "sans-serif";
            font-weight: 800;
        }

        .badge-icon {
            padding-right: 0.5vw;
            display: flex;
        }
    }
}