@use "../../theme/variables" as *;

#experience {
    height: 130vh;

    .experience-section-container {
        width: inherit;
        height: inherit;
        padding-top: 17vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .experience-section-title {
            font-size: $font_size_mediumbig;
            margin-bottom: 4vh;
        }

        .experience-line-container {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 30vh;
            z-index: -1;

            .experience-line {
                position: absolute;
                height: inherit;
                width: inherit;
            }

            .experience-line-point-1 {
                width: 2vw;
                height: 2vw;
                background-color: #4a9cc6;
                border: 0.15vw solid #0f182b;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: calc(50% - 1vw);
            }

            .experience-line-point-2 {
                width: 2vw;
                height: 2vw;
                background-color: #4a9cc6;
                border: 0.15vw solid #0f182b;
                border-radius: 50%;
                position: absolute;
                top: 40vh;
                left: calc(50% - 1vw);
            }
        }

        .multi-display-cards-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 4vw;

            > *:nth-child(even) {
                align-self: end;
            }

        }

    }
}