@use "../../theme/variables" as *;

.card-with-icon-container {
    font-size: $font_size_medium;
    cursor: pointer;
    border: 0.15vw solid #1b2047;
    border-radius: 0.5vw;
    user-select: none;

    .card-overlay {
        padding-left: 1vw;
        padding-right: 1vw;
        display: flex;
        align-items: center;
        border: 0.15vw solid #0f182b;
        border-radius: 0.5vw;
        background: linear-gradient(to right, #151f53, #1b2047);
        gap: 0.5vw;

        &.hovered {
            border: 0.15vw solid $highlight;
        }

        .card-icon {
            display: flex;
        }
    }
}