@use "../../../theme/variables" as *;

.navbar-item-container {
    display: flex;
    cursor: pointer;

    .navbar-item-text {
        font-size: $font_size_text;
        font-weight: bold;
        color: transparent;
        background: linear-gradient(to top, $highlight 0%, white 100%);
        background-clip: text;
        transition: background-position 0.3s ease;
        background-size: 100% 200%;

        &.hovered {
            background-position: bottom;
        }
    }
}