@use "../../theme/variables" as *;

#skills {
    height: fit-content;
    padding-top: 15rem;

    .skills-section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .skills-section-title-overlay {
            border: 0.25vw solid #1b2047;
            border-radius: 0.5vw;
            margin-top: 8vh;
            user-select: none;

            .skills-section-title {
                font-size: 3vw;
                padding: 0.6vw 4vw 0.6vw 4vw;
                border: 0.20vw solid #0f182b;
                border-radius: 0.5vw;
                background: linear-gradient(to right, #151f53, #1b2047);

                &.hovered {
                    border: 0.20vw solid $highlight;
                }
            }
        }

        .skill-tree-lines-container {
            width: 100%;
            height: 40vh;
            position: absolute;
            top: 20vh;
            z-index: -1;

            .skill-tree-lines {
                width: inherit;
                height: inherit;
                position: absolute;
            }
        }

        .badge-anchor-left {
            position: absolute;
            left: 0;
            top: 40vh;

            .badge-wrapper-left {
                display: flex;
                width: 32vw;
                flex-wrap: wrap;
                gap: 0.4vw;
            }
        }

        .badge-anchor-middle {
            position: absolute;
            left: 19vw;
            top: 65vh;

            .badge-wrapper-middle {
                display: flex;
                width: 32vw;
                flex-wrap: wrap;
                gap: 0.4vw;
                justify-content: center;
            }
        }

        .badge-anchor-right {
            position: absolute;
            left: 38vw;
            top: 40vh;

            .badge-wrapper-right {
                display: flex;
                width: 31.5vw;
                flex-wrap: wrap;
                gap: 0.4vw;
                justify-content: flex-end;
            }
        }

    }
}

@media(max-width: 1024px) {
    #skills {
        padding-top: 2rem;

        .skills-section-container {
            .skills-section-title-overlay {
                border: 0.2rem solid #1b2047;
                border-radius: 0.8rem;
                margin-top: 3.8rem;

                .skills-section-title {
                    font-size: 3rem;
                    padding: 0.6rem 2rem 0.6rem 2rem;
                    border: 0.2rem solid #0f182b;
                    border-radius: 0.8rem;

                    &.hovered {
                        border: 0.2rem solid $highlight;
                    }
                }
            }

            .skill-tree-lines-container {
                padding-top: 8rem;
                top: 0;
                height: 31rem;

                .skill-tree-lines {

                    .skill-tree-side-line {
                        display: none
                    }
                }
            }

            .badge-anchor-left {
                left: 8vw;
                top: 12rem;

                .badge-wrapper-left {
                    justify-content: flex-end;
                    gap: 0.4rem;
                }
            }

            .badge-anchor-middle {
                left: 0.2rem;
                top: 41rem;

                .badge-wrapper-middle {
                    gap: 0.4rem;
                    width: 90vw;

                }
            }

            .badge-anchor-right {
                left: 52vw;
                top: 12rem;

                .badge-wrapper-right {
                    width: 32vw;
                    gap: 0.4rem;
                    justify-content: flex-start;
                }
            }

        }
    }
}