@use "theme/variables" as *;

html, body {
    width: 100%;
    min-height: 100dvh;
    overflow-x: hidden;

    #root {
        width: 100%;
        height: fit-content;
        color: $primary;
        font-family: Poppins, "sans-serif";

        .page-bg {
            background: radial-gradient(circle, rgb(19 23 81) 0%, rgb(19 28 50) 50%);
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        .page-container {
            width: $content_width;
            justify-self: center;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 5rem;

            .highlight-text {
                color: $highlight;
            }
        }
    }
}

div {
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1024px) {
    html, body {
        #root {
            .page-container {
                width: 100%;
                padding: 0 1rem 0 1rem;
            }
        }
    }
}